@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Federo&family=Raleway:wght@400;500;700;800;900&display=swap");

:root {
  --black: #161515;
  --white: #ffff;
  --lightGreen: #32de84;
  --blue: blue;
}

body {
  font-family: "Federo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  height: 60px;
  background: var(--white);
  color: var(--black);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--fadedGrey);
  box-shadow: 0px 10px 20px #504e4e2d;
}

.header__logo {
  font-size: 30px;
  font-weight: 900;
  color: var(--black);
  text-decoration: none;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right--link {
  margin: 0 25px;
  color: var(--black);
  text-decoration: none;
}

.header__right--link:hover {
  color: var(--blue);
}

/* LOGIN */
.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background: var(--lightGreen);
  font-family: "Federo", sans-serif;
  color: var(--black);
}

.login__left {
  background: var(--lightGreen);
}

.login__left--topHeadings {
  padding: 30% 0 0 10%;
}

.login__left--topHeadings h1 {
  font-family: "Italiana", serif;
  font-size: 70px;
}

.login__left--topHeadings h5 {
  font-size: 35px;
}

.login__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.form {
  width: 100%;
  color: var(--black);
  background: var(--white);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #504e4e6c;
}

.register__form {
  width: 45%;
}

.form h2 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.button__black {
  background: var(--black);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  color: var(--white);
}

.button__black:hover {
  box-shadow: 0px 10px 30px #504e4e6c;
}

.logout__button{
  padding: 8px 10px;
  font-size: 16px;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #eee1e1;
  font-family: "Federo", sans-serif;
  color: var(--black);
}

@media (max-width: 900px) {
  .login {
    grid-template-columns: 1fr;
  }

  .login__left {
    display: none;
  }

  .login__form {
    width: 100%;
  }

  .register__form {
    width: 100%;
  }

}